body {background-color: blanchedalmond;}
header {text-align: center;}
h2 {text-align: center;}
.kotak {background-color: pink;
text-align: center;
font-size: x-large;}
.artinya {text-align: center;
font-size: xx-large;}